/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-900;
  font-family: 'Libre Franklin', sans-serif;
}

@font-face {
  font-family: 'title';
  src: url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700&display=swap') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slideInRight {
  animation: slideInRight 1s ease-out forwards;
}

.delay-300ms {
  animation-delay: 300ms;
}

@keyframes grow {
  from {
    height: 0;
  }
  to {
    height: var(--height);
  }
}

.animate-grow {
  animation: grow 1s ease-in-out forwards;
}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.scale-in {
  animation: scaleIn 0.3s ease-out forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 1s ease-out forwards;
}

/* Ensure animations are applied in mobile view */
@media (max-width: 768px) {
  .animate-slideInRight {
    animation: slideInRight 1s ease-out forwards;
  }
  .scale-in {
    animation: scaleIn 0.3s ease-out forwards;
  }
  .animate-slideUp {
    animation: slideUp 1s ease-out forwards;
  }
}